<h1>Events</h1>


  
<div class="cards-container">
  <h2>Past events:</h2>
  <div class="cards">
    <% @events.past.each do |event| %>
      <%= render event %>
    <% end %>
  </div>
</div>

<br>

<h2>Future events:</h2>
<div class="cards-container">
  <div class="cards">
      
      <% @events.future.each do |event| %>
    <%= render event %>
      <% end %>
  </div>
 
</div>